/* GLOBAL */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}

body{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: white;
}

button{
    padding: 13px 32px;
    font-size: 0.875rem;
    background-color: #ff0e83;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    transition: all .5s;
    letter-spacing: 1px;
    cursor: pointer;
}

button:hover{
    background-color: white;
    border-color: #ff0e83;
    color: black;
}

/* HEADER */
header{
    background-color: #4e2a84;
}

.header__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding: 15px 0;
}

.header__content p{
    font-size: 2.3rem;
}

.header__content li{
    list-style: none;
    display: inline;
    margin: 0 16px;
}

.header__content a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 2px;
    transition: all .5s;
}

.header__content a:hover{
    color: #ff0e83;
}

.header__content .active a{
    color: #ff0e83;
}

/* CAROUSEL */
.bakeCarousel{
    background-image: url(../img/b3.jpg);
    height: 800px;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__content{
    text-align: center;
}

.carousel__content p:first-child{
    font-size: 3.5rem;
    font-weight: bold;
}

.carousel__content p:nth-child(2){
    font-size: 1.1rem;
    padding: 23px 0;
}

/* INTRO */
.bakeIntro{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: black;
}

.bakeIntro .ab1{
    grid-column: 2 / span 2;
}
.bakeIntro .intro__bakeBest{
    grid-column: 1 / span 2;
}
.bakeIntro .ab4{
    grid-column: 3 / span 2;
}

.intro__item img{
    display: block;
    height: 100%;
    width: 100%;
}

.bakeIntro .intro__text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}
.bakeIntro .intro__text h3, p{
    text-align: center;
}
.bakeIntro .intro__text h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.bakeIntro .intro__text p{
    color: #c1c1c1;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 29px;

}

.bakeIntro .intro__item:first-child, .intro__item:nth-child(8){
    background-color: #4e2a84;
}
.bakeIntro .intro__item:nth-child(3){
    background-color: #ff0e83;
}
.bakeIntro .intro__item:nth-child(4){
    background-color: #ed6498;
}
.bakeIntro .intro__item:nth-child(6){
    background-color: #836eaa;
}