/* GLOBAL */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}

body{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: white;
}

h2{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 3rem;
}

button{
    padding: 13px 32px;
    font-size: 0.875rem;
    background-color: #ff0e83;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    transition: all .5s;
    letter-spacing: 1px;
    cursor: pointer;
}

button:hover{
    background-color: white;
    border-color: #ff0e83;
    color: black;
}

/* HEADER */
header{
    background-color: #4e2a84;
}

.header__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding: 15px 0;
}

.header__content p{
    font-size: 2.3rem;
}

.header__content li{
    list-style: none;
    display: inline;
    margin: 0 16px;
}

.header__content a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 2px;
    transition: all .5s;
}

.header__content a:hover{
    color: #ff0e83;
}

.header__content .active a{
    color: #ff0e83;
}

/* CAROUSEL */
.bakeCarousel{
    background-image: url(../img/b3.jpg);
    height: 800px;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__content{
    text-align: center;
}

.carousel__content p:first-child{
    font-size: 3.5rem;
    font-weight: bold;
}

.carousel__content p:nth-child(2){
    font-size: 1.1rem;
    padding: 23px 0;
}

/* INTRO */
.bakeIntro{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: black;
}

.bakeIntro .ab1{
    grid-column: 2 / span 2;
}
.bakeIntro .intro__bakeBest{
    grid-column: 1 / span 2;
}
.bakeIntro .ab4{
    grid-column: 3 / span 2;
}

.intro__item img{
    display: block;
    height: 100%;
    width: 100%;
}

.bakeIntro .intro__text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}
.bakeIntro .intro__text h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}
.bakeIntro .intro__text p{
    color: #c1c1c1;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
}

.bakeIntro .intro__item:first-child, .intro__item:nth-child(8){
    background-color: #4e2a84;
}
.bakeIntro .intro__item:nth-child(3){
    background-color: #ff0e83;
}
.bakeIntro .intro__item:nth-child(4){
    background-color: #ed6498;
}
.bakeIntro .intro__item:nth-child(6){
    background-color: #836eaa;
}

/* NUMBER */
.bakeNumber{
    padding: 70px 0;
}
.bakeNumber .number__content{
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.bakeNumber .number__item h3{
    font-size: 2rem;
    font-weight: 600;
    color: #4e2a84;
}

.bakeNumber .number__item p{
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1.4px;
    color: black;
    padding: 24px 0;
}

/* SERVICES */
.bakeServices{
    background-image: url(../img/s1.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 70px 0;
}

.bakeServices ._services__content{
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.bakeServices .services__item{
    padding: 0 20px;
}

.bakeServices .services__item i{
    font-size: 3.75rem;
    color: #4e2a84;
    height: 105px;
    width: 105px;
    background-color: white;
    border: 1px solid #4e2a84;
    border-radius: 50%;
    line-height: 105px;
    transition: all .5s;
}
.bakeServices .services__item i:hover{
    color: #ff0e83;
}

.bakeServices .services__item h3{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 17px 0;
    color: #212529;
}

.bakeServices .services__item p{
    color: #212529;
    font-size: 0.875rem;
    line-height: 25px;
    padding: 12px;
}

.bakeServices .services__item button{
    padding: 12px 27px;
    border-width: 2px;
}

/* GALLERY */
.bakeGallery{
    padding: 70px 0;
}

.bakeGallery h2{
    color: black;
}

.gallery__content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 0 15px;
}

.gallery__content .gallery__g1{
    grid-column: 1 / span 2;
}
.gallery__content .gallery__g6{
    grid-column: 3 / span 2;
}

.gallery__item{
    position: relative;
}
.gallery__item img{
    width: 100%;
    height: 100%;
    display: block;
}

.gallery__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 38px 28px;
    text-align: right;
    background-color: rgba(48, 132, 163, 0.2);
}

.gallery__overlay h3{
    color: white;
    font-size: 1.875rem;
    transform: translateY(20px);
    transition: all .5s;
}
.gallery__overlay span{
    font-weight: 300;
}
.gallery__item:hover .gallery__overlay h3{
    transform: translateY(0);
}

.gallery__overlay h3::after{
    content: "";
    background-color: white;
    height: 5px;
    width: 100%;
    display: block;
    margin-top: 10px;
    transform: translateY(20px);
    opacity: 0;
    transition: all .5s;
}
.gallery__item:hover .gallery__overlay h3::after{
    transform: translateY(0);
    opacity: 1;
}

.gallery__overlay p{
    position: absolute;
    bottom: 38px;
    right: 28px;
    text-align: right;
    color: white;
    font-size: 0.75rem;
    transform: translateY(50px);
    transition: all .5s;
    opacity: 0;
}
.gallery__item:hover .gallery__overlay p{
    transform: translateY(0);
    opacity: 1;
}

/* TEAM */
.bakeTeam{
    background-color: #4e2a84;
    padding: 70px 0;
}

.team__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px 30px;
    width: 75%;
    margin: auto;
}
.team__member{
    position: relative;
}

.team__member img{
    display: block;
    width: 100%;
}

.team__title{
    background-color: #ff0e83;
    padding: 30px;
    position: absolute;
    width: 100%;
    bottom: 0px;
    opacity: 1;
    transition: all .5s;
}
.team__member:hover .team__title{
    opacity: 0;
}
.team__title h3{
    font-size: 1.3rem;
}
.team__title p{
    font-size: 0.875rem;
    line-height: 28px;
}

.team__details{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 100px 40px;
    transition: all .5s;
    opacity: 0;
}
.team__details h3{
    font-size: 1.3rem;
    color: #ff0e83;
}
.team__details p{
    font-size: 0.875rem;
    line-height: 28px;
    opacity: 1;
}
.team__member:hover .team__details{
    opacity: 1;
}
.team__socials{
    margin-top: 24px;
}
.team__socials i{
    width: 37px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    margin: 0 5px;
    color: white;
    transition: all .5s;
}
.team__socials i:hover{
    color: #ff0e83;
    border-color: #ff0e83;
}

/* FEEDBACK */
.bakeFeedback{
    background-image: url(../img/cc1.jpg);
    background-size: cover;
    padding: 70px 0;
}

.feedback__content{
    width: 70%;
    margin: 0 auto;
    border: 3px solid #ff0e83;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 32px;
}
.feedback__content i{
    font-size: 1.3rem;
    color: #2cbeff;
    padding: 0 18px;
}
.feedback__content p{
    line-height: 30px;
    letter-spacing: 1.3px;
}
.feedback__content .feedback_name{
    color: white;
}

.feedback__content .owl-theme .owl-dots .owl-dot span{
    background-color: rgba(0, 0, 0, 0.5);
}

.feedback__content .owl-theme .owl-dots .owl-dot.active span{
    background-color: black;
}

.feedback__content .owl-theme .owl-dots .owl-dot:focus{
    outline: none;
}

/* CONTACT */
.bakeContact{
    padding: 70px 0;
}

.bakeContact h2{
    color: black;
}

.contact__form form{
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 30px;
}
.contact__form input{
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.5s;
}
.contact__form input:focus{
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.contact__form textarea, .contact__form button{
    grid-column: 1 / 3;
    padding: 15px;
    font-size: 1rem;
    font-weight: 600;
}
.contact__form textarea:focus{
    outline: none;
}
.contact__form button{
    border-radius: 0;
    color: black;
}
.contact__form button:hover{
    color: white;
    background-color: black;
    border-color: black;
}

.contact__map iframe{
    width: 100%;
    margin-top: 50px;
}

.contact__info{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
}
.contact__info i{
    font-size: 2rem;
    color: #4e2a84;
}
.contact__info p{
    font-size: 0.8rem;
    color: black;
    margin: 10px 0;
}

/* FOOTER */
footer{
    padding: 50px 0;
    background-color: black;
    color: white;
}

.footer__content{
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.footer__item{
    width: 25%;
    padding: 0 20px;
}

.footer__item h3{
    text-transform: capitalize;
    color: #ff0e83;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.footer__item p{
    font-size: 0.8rem;
    line-height: 28px;
    padding-bottom: 1rem;
}

.footer__socials i{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-right: 10px;
    border: 1px solid rgb(153, 136, 136);
    transition: all 0.5s;
}
.footer__socials i:hover{
    color: #ff0e83;
    border-color: #ff0e83;
}

.footer__time{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted white;
}
.footer__time p{
    margin: 10px 0;
}

.footer__item .footer__subcribe input{
    margin-bottom: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}
.footer__item .footer__sub input:focus{
    outline: none;
}
.footer__item .footer__subcribe button{
    padding: 7px 16px;
    color: black;
    font-weight: 700;
    border-color: #ff0e83;
    margin-bottom: 24px;
}

.footer__copyright{
    text-align: center;
    font-size: 0.8rem;
}
.footer__copyright span{
    color: #ff0e83;
}
